@{
  Layout = "_Layout";
}

@using SweetTreats.Models;
@model List<SweetTreats.Models.Treat>;

<h1>Treats</h1><hr>
  <div class="row">
    <div class="col-sm">
      @if (@Model.Count == 0)
{
  <p>No Treats have been added yet!</p>
} 

@foreach (Treat treat in Model)
{
  <p class="list-details">@Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId })</p>
}
<br><br>

<p>@Html.ActionLink("Add a new treat", "Create", null, null, new { @class="btn btn-outline-dark btn-block"} )</p>

<p>@Html.ActionLink("Home", "Index", "Home", null, new { @class="btn btn-outline-dark btn-block"} )</p>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
    </div>
  </div>